<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a herf="/MembershipType">&nbsp;&nbsp; Membership</a></li>
        <li>@Html.ActionLink("Genre","Index", "Genre")</li>
        <li class="divider"></li>
        <li><a herf="/Book">&nbsp;&nbsp; Book</a></li>
        <li><a herf="/Customer">&nbsp;&nbsp; Customer</a></li>
        <li class="divider"></li>
    </ul>
</li>
